## D01 WORKSHOP

**문제 0**
- 1월부터 12월까지 다음과 같은 형태로 달력이 출력되도록 코드를 작성하세요.
```bash
1 월
일 월 화 수 목 금 토
1 2 3 4 5 6 7
8 9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31
2 월
일 월 화 수 목 금 토
1 2 3 4 5 6 7
8 9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
```

In [172]:
# 정답

week = ['일', '월', '화', '수', '목', '금', '토']
month = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]  # 딕셔너리
day = 0

for i in range(len(month)):
    print(f"{i+1} 월")
    
    for j in range(len(week)):
        print(week[j], end=" ")
    print()
    
    if month[i] in [1, 3, 5, 7, 8, 10, 12]:
        day = 31
    elif month[i] in [4, 6, 9, 11]:
        day = 30
    else:
        day = 28
    
    for k in range(1, day+1):
        if (k % 7 != 0 and k != 0) or (month[i] == 2 and k == 28):
            print(k, end=" ")
        else:
            print(k, end="\n")
    print()

1 월
일 월 화 수 목 금 토
1 2 3 4 5 6 7
8 9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31
2 월
일 월 화 수 목 금 토
1 2 3 4 5 6 7
8 9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
3 월
일 월 화 수 목 금 토
1 2 3 4 5 6 7
8 9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31
4 월
일 월 화 수 목 금 토
1 2 3 4 5 6 7
8 9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30
5 월
일 월 화 수 목 금 토
1 2 3 4 5 6 7
8 9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31
6 월
일 월 화 수 목 금 토
1 2 3 4 5 6 7
8 9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30
7 월
일 월 화 수 목 금 토
1 2 3 4 5 6 7
8 9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31
8 월
일 월 화 수 목 금 토
1 2 3 4 5 6 7
8 9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31
9 월
일 월 화 수 목 금 토
1 2 3 4 5 6 7
8 9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30
10 월
일 월 화 수 목 금 토
1 2 3 4 5 6 7
8 9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31
11 월
일 월 화 수 목 금 토
1 2 3 4 5 6 7
8 9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30
12 월
일 월 화 수 목 금 토
1 2 3 4 5 6 7
8 9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

In [180]:
calender = {
    1:31, 2:28, 3:31, 4:30, 5:31, 6:30,
    7:31, 8:31, 9:30, 10:31, 11:30, 12:31
}

weeks = ['일', '월', '화', '수', '목', '금', '토']


for month, count_day in calender.items():
    count = 0
    print(month, '월')
    for day in weeks:
        print(day, end=' ')
    print()

    for i in range(1, count_day + 1):
        print(i, end=" ")
        count += 1
        if count == 7:    # count가 7이 되면 개행
            print()
            count = 0   # count 초기화
    print(end='\n\n')

1 월
일 월 화 수 목 금 토
1 2 3 4 5 6 7
8 9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

2 월
일 월 화 수 목 금 토
1 2 3 4 5 6 7
8 9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28


3 월
일 월 화 수 목 금 토
1 2 3 4 5 6 7
8 9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

4 월
일 월 화 수 목 금 토
1 2 3 4 5 6 7
8 9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30

5 월
일 월 화 수 목 금 토
1 2 3 4 5 6 7
8 9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

6 월
일 월 화 수 목 금 토
1 2 3 4 5 6 7
8 9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30

7 월
일 월 화 수 목 금 토
1 2 3 4 5 6 7
8 9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

8 월
일 월 화 수 목 금 토
1 2 3 4 5 6 7
8 9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

9 월
일 월 화 수 목 금 토
1 2 3 4 5 6 7
8 9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30

10 월
일 월 화 수 목 금 토
1 2 3 4 5 6 7
8 9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

11 월
일 월 화 수 목 금 토
1 2 3 4 5 6 7
8 9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30

12 월
일 월 화 수 목 금 토
1 2 3 4 5 6 7
8 9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

**문제 1**
- 두 개의 정수 n과 m이 주어집니다. 반복문을 사용하지 않고 별(*) 문자를 이용해 가로의 길이가 n, 세로의 길이가 m인 직사각형 형태를 출력해보세요.

In [2]:
# 문제
n = 5
m = 9

In [181]:
# 정답
# for i in range(n):
#     for j in range(m):
#         print("*", end=" ")
#     print()

print(('*' * n + '\n') * m)    # 문자열 결합 시 +

*****
*****
*****
*****
*****
*****
*****
*****
*****

**문제2**
- 다음 딕셔너리에서 평균 점수를 출력하시오.

In [4]:
# 문제
student = {'python': 80, 'algorithm': 99, 'django': 89, 'flask': 83}

In [21]:
# 정답

sum = 0
for v in student.values():
    sum += v

average = sum / len(student.keys())
print(average)

87.75

**문제3**
- 다음은 학생들의 혈액형(A, B, AB, O)에 대한 데이터이다. for문을 이용하여 각 혈액형 별 학생수의 합계를 구하시오.

In [7]:
# 문제
blood_types = ['A', 'B', 'A', 'O', 'AB', 'AB', 'O', 'A', 'B', 'O', 'B', 'AB']

In [28]:
# 정답

blood = ['A', 'B', 'O', 'AB']

count_A = 0
count_B = 0
count_O = 0
count_AB = 0

for i in blood_types:
    if i == blood[0]:
        count_A += 1
    elif i == blood[1]:
        count_B += 1
    elif i == blood[2]:
        count_O += 1
    else:
        count_AB += 1

print(count_A, count_B, count_O, count_AB)

3 3 3 3

In [183]:
result = {}

for blood_type in blood_types:
    if blood_type in result:
        result[blood_type] += 1   # 키 값이 존재하면 value를 1 추가
    else:
        result[blood_type] = 1   # 키 값이 없으면 value로 1을 준다

print(result)

{'A': 3, 'B': 3, 'O': 3, 'AB': 3}